visualstudio/x64
visualstudio/Win32
visualstudio/.vs
sc
*.sdf
*.suo
*.opensdf
*.dll
*.o
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
*.ERR
bin/StarterBot_d.exe
bin/StarterBot_d.exe
bin/ReplayData.txt
bin/ReplayParser.exe
bin/RunReplayParserAndStarcraft.bat
bin/replaydata
.idea
cmake-build-debug